
services:
  api:
    build: ../.
    container_name: api-task-service-ci-cd
    ports:
      - "${HOST_PORT}:${HOST_PORT}"
    depends_on:
      - db
    env_file:
      - $env

  db:
    image: postgres:14
    container_name: db-task-service-ci-cd
    command: -p 5436
    ports:
      - "${DB_PORT}:5436"
    expose:
      - "${DB_PORT}"
    env_file:
      - $env

